.typing {
    font-size: 68px;
    color: #747474;
}

h1 span.text {
    padding: 0;
    padding-right: 4px;
    border-right: 2px solid #747474;
    animation: blink 0.75s infinite;
}

@media screen and (max-width: 670px) {
    .typing {
        font-size: 40px;
    }

}

@media screen and (max-width: 400px) {
    .typing {
        font-size: 32px;
    }
}